:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  background: #121212;
}

.context-menu-option {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.context-menu-option img {
  width: 24px;
  height: 24px;
}
