<div class="main-container" [class.player-open]="isPlayerOpen()">
  <div class="sidebar">
    <div class="logo">
      <h2>Music App</h2>
    </div>
    <nav>
      <ul>
        <!-- <li
          routerLink="/library"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon">🏠</span> Main
        </li> -->
        <li routerLink="/search" routerLinkActive="active"><span class="icon">🔍</span> Search</li>
        <li routerLink="/library" routerLinkActive="active">
          <span class="icon">📚</span> Your Library
        </li>
      </ul>
    </nav>
    <div class="sidebar-divider"></div>
    <div class="playlists-nav">
      <button class="create-playlist" (click)="openCreatePlaylistModal()">
        <span class="icon">+</span> Create Playlist
      </button>
      <button class="liked-songs"><span class="icon">♥</span> Liked Songs</button>
    </div>
  </div>

  <div class="content">
    <header>
      <app-search (enterPressed)="onSearch($event)"></app-search>
      <div class="header-right">
        <app-platform-selector></app-platform-selector>
        @if (user()) {
          <div class="user-menu" (click)="toggleUserMenu()">
            <div class="user-avatar">
              <span>{{ userInitial }}</span>
            </div>
            @if (showUserMenu) {
              <div class="dropdown-menu">
                <button class="menu-item">Account</button>
                <button class="menu-item" (click)="logout()">Logout</button>
              </div>
            }
          </div>
        }
      </div>
    </header>

    <div class="scrollable-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-player></app-player>
